

h1{
    text-align: center;

}
header {
    height: 15vh;
    background-color: rgb(64, 64, 235);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1rem;
    z-index: 3; 
}

main {
    min-height: 80vh;
    width: 70%;
    margin: 0 auto;
}

.card {
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}
.mt-1{
    margin-top: 1rem;
}

.btn-delete {
    color: rgb(172, 40, 40);
    cursor: pointer;
}

.btn-detalle{
    color: rgb(46, 66, 180);
    cursor: pointer;
}

.btn-update {
    color: rgb(36, 149, 83);
    cursor: pointer;
}